html{
	height:100%;
}

body{
	color: #66CDAA;
	font-family: Futura, Tahoma, sans-serif;
	width:100% -40px;
	height:100%;
	padding: 40px;
	margin: 0;
}

form {
	font-size: 20px;
}

.upload-button{
	display:block;
}

input[type = "text"] {
	outline: none;
	border: none;
	border-bottom: 1px solid #66CDAA;
	cursor: pointer;
	background-color: transparent;
	color:#ff7c70;
}

select {
	outline: none;
	border: none;
	border-bottom: 1px solid #66CDAA;
	background-color: white;
	cursor: pointer;
	background-color: transparent;
	color:#ff7c70;
}

.image-wrapper{
	text-align: center;
}

#image-placeholder{
	max-height:400px; 
	max-width:400px; 
	min-height:200px; 
	width: auto;
    height: auto;
    position: absolute;  
    top: 0;  
    bottom: 0;  
    left: 0;  
    right: 0;  
    margin: auto;
}

#logo{
	color: #66CDAA;
	text-decoration: none;
}

#logo:hover{
	color: #ff7c70;
}


.button{
	color: #66CDAA;
	text-decoration: none;
	padding: 4px;
	border: 1px solid #66CDAA;
	display: inline;
	background-color: transparent;
	cursor: pointer;
	font-size: 20px;
}

.button:hover{
	color: #ff7c70;
	border-color: #ff7c70;
}

#login-buttons{
	/*float:right;*/
	margin-bottom: 20px;
}


#login-buttons a{
	color: #66CDAA;
	text-decoration: none;
	padding: 4px;
	border: 1px solid #66CDAA;
}

#login-buttons a:hover{
	color: #ff7c70;
	border-color: #ff7c70;
}

.upload-form-wrapper{
	width: 60%;
	height: 70%;
	background-color: #DCDCDC;
	margin-left:auto;
	margin-right: auto;
}

.wrapper-left{
	width: 50%;
	height:100%;
	float: left;
	position: relative;
}

.wrapper-right{
	width: 50%;
	height:100%;
	float: left;
}

.selfie-image{
	max-height: 170px;
	max-width: 170px;
	width: auto;
    height: auto;
    position: absolute;  
    top: 0;  
    bottom: 0;  
    left: 0;  
    right: 0;  
    margin: auto;
}

.selfie{
	position:relative;
	margin-top:30px;
	margin-right:30px;
	height:200px;
	width:200px;
	border: 1px solid;
	display: inline-block;
}

.modalBackdrop{
	position: fixed;
	top: 0;
	left: 0;
	width:100%;
	height: 100%;
	padding: 0;
	background-color: blue;
	overflow:hidden;
  	background-color: black;
  	opacity:0.6;
  	filter:alpha(opacity=60); /* For IE8 and earlier */
  	cursor: pointer;
}

.modalBody{
	position:fixed;
	height: 50%;
	width: 50%;
	top: 25%;
	left: 25%;
	background-color: white;
}

